body {
	font-family: "SourceSansProRegular","MyriadWebProRegular",helvetica,arial,verdana,sans-serif;
	font-size: 14px;
}

.page_footer {
	color: white;
}

.clear {
	clear: both;
}

div.container {
	text-align: center;
}


div.float_center {
	position: relative;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}

div.float_center div {
	margin-left: 10px;
	margin-right: 10px;
}

div.float_center > .child {
	position: relative;
	left: 50%;
}

.buffer {
	margin: 20px 20px 20px 20px;
	clear: both;
}

#datagrid div.table {
	display: table;
	border-spacing: 0px;
	border-left: solid #AAAAAA 1px;
	border-right: solid #AAAAAA 1px;
}

#datagrid div.table div.thead {
	display: table-header-group;
	background-color: #AAAAAA;
	color: #ffffff;
	font-weight: normal;
}

#datagrid div.table div.thead .td select {
	width: 7em;
}

#datagrid div.table div.tbody {
	display: table-row-group;
}

#datagrid div.table div.tbody span.td {
	display: table-cell;
	border-bottom: solid #CCCCCC 1px;
}

#datagrid div.table span.td {
	padding: 10px;
}

#datagrid form input {
	max-width: 5em;
}

.masked {
	opacity: 0.5;
	pointer-events: none;
}

