<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout">

<head>
	<title>Error Log</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="buffer">&nbsp;</div>
		<div>
			<p>Error log snapshot. To filter, use dateFormat and date query
				parameters.  The log rolls over at 1GB.</p>
			<p>Example:
				?dateFormat=yyyyMMdd%27T%27HH:mm:ssXXX&amp;date=20150910T23:01:00-05:00</p>
		</div>
		<div class="buffer">&nbsp;</div>
		<div>
			<form id="errorform" method="get">
			<div>
				<label for="dateFormat" th:text="#{errorLog.input.dateFormat}">dateFormat</label>&nbsp;<input
					id="dateFormat" name="dateFormat" type="text" value="yyyyMMdd'T'HH:mm:ssXXX"/>
			</div>
			<div>
				<label for="date" th:text="#{errorLog.input.date}">date</label>&nbsp;<input
					id="date" name="date" type="text" value="20150910T23:01:00-05:00"/>
			</div>
			<div>
				<button type="submit" th:text="#{errorLog.submit.label}">submit</button>
			</div>
			</form>
		</div>
		<div id="dataList">
			<p th:text="#{errorLog.title}" class="title">Errors</p>
			<ul>
				<li th:each="message : ${logErrors}"
					th:class="${#strings.contains(message, '-- ERROR')}? 'exception' : 'stack'">
					<span th:text="${message}">An error happened</span>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>