<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{DATE} - %-5p: %t: %c:%l - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="file" value="${custom.logging.root}/full.log" />
		<param name="maxFileSize" value="1GB" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{DATE} - %-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="errorFile" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="ERROR" />
		<param name="file" value="${custom.logging.root}/error.log" />
		<param name="maxFileSize" value="1GB" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{DATE} -- %-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="eventFile" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="file"
			value="${custom.logging.root}/pollednotificationevents.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{DATE} -- %m%n" />
		</layout>
	</appender>

	<logger name="com.muk">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework">

		<level value="DEBUG" />
	</logger>

	<logger name="com.muk.spring.config.Router" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="eventFile" />
	</logger>

	<logger name="org.apache.http.wire">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache.http.client">
		<level value="ERROR" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="errorFile" />
	</root>

</log4j:configuration>
